node_modules/
dist/
coverage/
reports/
.env
.env.local
.DS_Store
*.log
*.tsbuildinfo

# IDE/editor files
.idea/
*.iml
.vscode/

apps/api/storage/**
!apps/api/storage/
!apps/api/storage/uploads/
!apps/api/storage/uploads/.gitkeep
!apps/api/storage/tmp/
!apps/api/storage/tmp/.gitkeep

apps/api/dist/
apps/web/dist/
apps/web/cypress/downloads/
apps/web/cypress/videos/
apps/web/cypress/screenshots/
packages/*/dist/

infra/aws/terraform.tfstate
